
name: continuous_deployment
on:
  workflow_call:
    inputs:
      day:
        required: true
        type: string
      part:
        required: true
        type: string
      year:
        required: true
        type: string
      tag:
        required: true
        type: string
      push:
        required: true
        type: string
    secrets:
      DOCKERHUB_PASSWORD:
        required: true
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  build:
    name: build-${{inputs.year}}-${{inputs.day}}/${{inputs.part}}/${{inputs.tag}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          runneeded:
            - ${{inputs.year}}/${{inputs.day}}/${{inputs.part}}/*
    - 
      name: Docker Login
    # You may pin to the exact commit or the version.
    # uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      uses: docker/login-action@v3.6.0
      with:
        # Username used to log against the Docker registry
        username: rasmus256docker
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERHUB_PASSWORD }}


    - if: steps.filter.outputs.runneeded == 'true'
      uses: docker/build-push-action@v5
      with:
        file: ${{inputs.year}}/${{inputs.day}}/${{inputs.part}}/Dockerfile
        context: ${{inputs.year}}/${{inputs.day}}/${{inputs.part}}
        push: ${{inputs.push}}
        tags: |
          rasmus256docker/advent_of_code_${{inputs.year}}_${{ inputs.day }}_${{ inputs.part}}:latest
          rasmus256docker/advent_of_code_${{inputs.year}}_${{ inputs.day }}_${{ inputs.part}}:${{inputs.tag}}
